table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: medium;
    min-width: 400px;
}

td, th {
    padding: 3px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

caption {
    font-weight: bolder;
    border-style: solid;
    background-color: darkcyan;
    font-size: medium;
}
